html {
    font-size: 100%;
    background-color: #DEDAD3;
}

body {
    margin: 0 5em;
}

/* Fonts */

@font-face {
    font-family: 'Gopher-Bold';
    src: url('assets/fonts/Gopher-Bold.otf')  format('opentype');
  }

  /* Hero */

.left-hero {
    overflow: visible;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Gopher-Bold';
    letter-spacing: .15rem;
    width: 3.5rem;
    height: 3rem;
}

.semi-circle-text {
    margin-left: .4rem;
}

.left-hero p {
    margin: 0;
    letter-spacing: .3rem;
}

svg {
    overflow: visible;
}

.coloured-box-1 {
    background-image: url('assets/img/coloured-image-1.jpg');
    background-size: cover;
    width: 40vw;
    height: 30vw;
    position: relative;
    margin: 5em auto 0;
    
}

.hero-image {
    background-image: url('assets/img/cairjn-hero-image.jpg');
    background-size: cover;
    background-position: right;
    width: 30vw;
    height: 40vw;
    position: relative;
    float: right;
}

.hero-cairjn-logo {
    width: 20em;
    position: relative;
}

.hero-text-line-1 {
    overflow: visible;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Gopher-Bold';
    letter-spacing: .4rem;
    width: 6.5rem;
    height: 30rem;
    position: relative;
}

.hero-text-line-2 {
    overflow: visible;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Gopher-Bold';
    letter-spacing: .4rem;
    width: 6.5rem;
    height: 30rem;
    position: relative;
}

/* Bottle Showcase */

.bottle-showcase {

}

.bottles {
    z-index: 2;
    position: relative;
    top: 80vh;
}

.bottles img {
    width: 100%;
}

.bottle-bg {
    width: 80%;
    height: 70vh;
    background-image: url('assets/img/cairjn-multiple-bottle-bg-desktop.jpg');
    background-size: cover;
    background-position: center;
    margin: auto;
    position: relative;
    z-index: 1;
}