/* -------------------
Font(s)
---------------------- */

@font-face {
  font-family: 'Gopher-Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url('../../assets/fonts/gopher-bold.woff2') format('woff2'),
     url('../../assets/fonts/gopher-bold.woff') format('woff'),
     url('../../assets/fonts/gopher-bold.ttf') format('truetype');
}

/* -------------------
CSS Reset
---------------------- */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 100%;
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

/* -------------------
Styling
---------------------- */

html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: #DEDAD3;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.hero:last-child {
  display: inline;
}

.main-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}


.hero-content-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.main-hero-content {
  width: 100vw;
  position: relative;
  justify-content: right;
  display: flex;
}

@media screen and (min-width: 450px) {
  .main-hero-content {
    justify-content: center;
  }
}

.left-hero {
  overflow: visible;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Gopher-Bold';
  letter-spacing: .15rem;
  width: 3.5rem;
  height: 3rem;
  /*align-self: left;*/
  margin: 18em 0 0 1em;
  transform: scale(.8);
}

@media screen and (min-width: 450px) {
  .left-hero {
    margin: 50vh 0 0 1em;
  }
}

@media screen and (min-width: 1150px) {
  .left-hero {
    transform: scale(1);
  }
}

.semi-circle-text {
  margin-left: .4rem;
}

.left-hero p {
  margin: 0;
  letter-spacing: .3rem;
}

svg {
  overflow: visible;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.image-pair-wrapper {
  position: relative;
  display: flex;
  justify-items: right;
}

.coloured-box-1 {
  background-size: cover;
  width: 85vw;
  height: 20em;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 450px) {
  .coloured-box-1 {
    width: 50vw;
    height: 40vw;
  }
}

@media screen and (min-width: 1300px) {
  .coloured-box-1 {
    width: 40vw;
    height: 30vw;
  }
}

.hero-image {
  background-size: cover;
  background-position: right;
  width: 15em;
  height: 30em;
  position: absolute;
  z-index: 2;
  top: 10em;
  right: 0;
}

@media screen and (min-width: 450px) {
  .hero-image {
    margin-left: 15em;
    width: 40vw;
    height: 50vw;
    top: 5em;
    right: -10em;
  }
}

@media screen and (min-width: 1300px) {
  .hero-image  {
    width: 30vw;
    height: 40vw;
  }
}

@media screen and (min-width: 1450px) {
  .hero-image {
  }
}

.hero-cairjn-logo {
  width: 20em;
  max-width: 22rem;
  min-width: 10rem;
  position: absolute;
  z-index: 3;
  transform: translateX(-10vw) translateY(65vh);
}

@media screen and (min-width: 450px) {
  .hero-cairjn-logo {
    width: 15em;
    transform: translateX(-5vw) translateY(45vw);
  }
}

@media screen and (min-width: 900px) {
  .hero-cairjn-logo {
    width: 25vw;
    transform: translateX(-9vw) translateY(45vw);
  }
}

@media screen and (min-width: 1300px) {
  .hero-cairjn-logo {
    width: 20vw;
    transform: translateX(-5vw) translateY(35vw);
  }
}

.hero-text {
  position: absolute;
  transform: translateX(-8em) translateY(-5em) scale(.8);
  z-index: 3;
}

@media screen and (min-width: 450px) {
  .hero-text {
    transform: translateX(-15em) translateY(5em) scale(.8);
  }
}

@media screen and (min-width: 750px) {
  .hero-text {
    transform: translateX(-15em) translateY(12em) scale(.8);
  }
}

@media screen and (min-width: 900px) {
  .hero-text {
    transform: translateX(-20em) translateY(12em) scale(.8);
  }
}

@media screen and (min-width: 1150px) {
  .hero-text {
    transform: translateX(-25em) translateY(18em) scale(1);
  }
}

@media screen and (min-width: 1600px) {
  .hero-text {
    transform: translateX(-30em) translateY(18em);
  }
}

.hero-text-line-1 {
  overflow: visible;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Gopher-Bold';
  letter-spacing: .4rem;
  width: 6.5rem;
  height: 30rem;
  position: absolute;
  margin-top: -2rem;
  margin-left: -3rem;
}

.hero-text-line-2 {
  overflow: visible;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Gopher-Bold';
  letter-spacing: .4rem;
  width: 6.5rem;
  height: 30rem;
  position: relative;
}

/* Bottle Showcase */

.bottle-showcase {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bottles {
    z-index: 2;
    position: absolute;
    top: 0;
}

.bottles img {
    width: 100%;
}

.bottle-bg-desktop {
    width: 80%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
    top: 10em;
    margin: 0 10%;
}

@media screen and (min-width: 600px) {
  .bottle-bg-desktop {
    height: 50vh;
    top: 7em;
  }
}

@media screen and (min-width: 1100px) {
  .bottle-bg-desktop {
    height: 70vh;
    top: 12em;
  }
}


@media screen and (min-width: 1600px) {
  .bottle-bg-desktop {
    height: 100vh;
    top: 12em;
  }
}

.bottle-bg-mobile {
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  top: 10em;
  margin: 0;
}

.bs-desktop {
  display: none;
}

@media screen and (min-width: 450px) {
  .bs-desktop {
    display: block;
  }
}

.bs-mobile {
  display: block;
}

@media screen and (min-width: 450px) {
  .bs-mobile {
    display: none;
  }
}
