/* -------------------
Font(s)
---------------------- */

@font-face {
  font-family: 'Gopher-Bold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  unicode-range: U+000-5FF;
  src: url('../../assets/fonts/gopher-bold.woff2') format('woff2'),
     url('../../assets/fonts/gopher-bold.woff') format('woff'),
     url('../../assets/fonts/gopher-bold.ttf') format('truetype');
}

/* -------------------
CSS Reset
---------------------- */

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 100%;
  -webkit-text-size-adjust: none;
  -ms-overflow-style: scrollbar;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

/* -------------------
Styling
---------------------- */

html {
  font-size: 100%;
  box-sizing: border-box;
  background-color: #DEDAD3;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content-top {
  display: flex;
  flex-wrap: nowrap;
}

.main-hero-content {
  width: 100vw;
}

.left-hero {
  overflow: visible;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Gopher-Bold';
  letter-spacing: .15rem;
  width: 3.5rem;
  height: 3rem;
}

.semi-circle-text {
  margin-left: .4rem;
}

.left-hero p {
  margin: 0;
  letter-spacing: .3rem;
}

svg {
  overflow: visible;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.coloured-box-1 {
  background-size: cover;
  width: 40vw;
  height: 30vw;
  position: relative;
}

.hero-image {
  background-size: cover;
  background-position: right;
  width: 30vw;
  height: 40vw;
  position: relative;
}

.hero-cairjn-logo {
  width: 20vw;
  max-width: 22rem;
  min-width: 10rem;
  position: relative;
}

.hero-text-line-1 {
  overflow: visible;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Gopher-Bold';
  letter-spacing: .4rem;
  width: 6.5rem;
  height: 30rem;
  position: absolute;
  margin-top: -2rem;
  margin-left: -3rem;
}

.hero-text-line-2 {
  overflow: visible;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Gopher-Bold';
  letter-spacing: .4rem;
  width: 6.5rem;
  height: 30rem;
  position: relative;
}
